<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up Form </title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Signup/fonts/material-icon/css/material-design-iconic-font.min.css')}}">

    <!-- Main css -->
    <!--<link rel="stylesheet" href="css/style.css">-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Signup/css/style.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Signup/fonts/material-icon/css/material-design-iconic-font.min.css')}}">
    <!--<link rel="stylesheet" href="../static/Signup/fonts/material-icon/css/material-design-iconic-font.min.css">-->

    <!-- Main css -->
    <!--<link rel="stylesheet" href="../static/Signup/css/style.css">-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Signup/css/style.css')}}">
    

   
   <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
   <script type="text/javascript">
    $(function () {
        $("#btnSubmit").click(function () {
            var password = $("#txtPassword").val();
            var confirmPassword = $("#txtConfirmPassword").val();
            if (password != confirmPassword) {
                alert("Passwords do not match.");
                return false;
            }
            return true;
        });
    });
</script>
    
</head>
<body>
	
    <div class="main">
        <section class="signup"> 
            <div class="container">
                <div class="signup-content">
                    <form method="POST" id="signup-form" class="signup-form" action="Mainpage/index.html" ;
                       <center> <h2 class="form-title">Create account</h2></center>

    <div class="main">

        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <form method="POST" id="signup-form" class="signup-form" action="index.html" ;
                        <h2 class="form-title">Create account</h2>
                        <div class="form-group">
                            <input type="text" class="form-input" name="name" id="name" placeholder="Enter Your Name" required />
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-input" name="email" id="email" placeholder="Enter Your Email"required />
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-input" name="expertise" id="expertise" placeholder="Whats Your Expertise"/>
                        </div>

                        <div class="form-group">
                            <input type="Number" class="form-input" name="mentee_capacity" id="mentee_capacity" placeholder="Mentee capacity"/>
                        </div>
                        
                        
                        <div class="form-group">
                            <input type="text" class="form-input" name="interest" id="interest" placeholder="Interest"/ required>
                        </div>
                        
                        
                        <div class="form-group">
                     <label for="discription" id="discription"></label>
                    <textarea class="form-group" rows="10" style="width:400px; border:0.5px solid black; border-top-right-radius:30px; font-family:tahoma;"
                          placeholder="Discription of Interest" required></textarea>
                          </div>

                        <div class="form-group">
                            <input type="text" class="form-input" name="password" id="txtPassword" placeholder="Enter Your Password" required name="pwd1"/>
                            <span toggle="#password" class="zmdi zmdi-eye field-icon toggle-password"></span>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-input"  id="txtConfirmPassword" id="password" placeholder="Confirm Password" required name="pwd2"/>
                        </div>
                        <div class="form-group">
                            <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" required />
                            <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
                        </div>
                        <div class="form-group">
                            <input type="submit" name="submit" id="btnSubmit" id="submit"class="form-submit" value="Sign up"/>
                        </div>
        </section>
    </div>

    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="js/main.js"></script>
</body>

    <script src="../static/Signup/vendor/jquery/jquery.min.js"></script>
    <script src="../static/Signup/js/main.js"></script>
</body>
</html>
